.upload-container {
  width: 100%;
  padding: 20px;
}

.upload-container h2 {
  margin-bottom: 20px;
}

.upload-container .form-control {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}

.upload-container .btn {
  margin-top: 20px;
}
